<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/style.css" />
    <title>Cocktail generator</title>
  </head>
  <body>
    <h1>Cocktail generator</h1>
    <p>
      If you need to make a cocktail but you dont know what to make, we are here
      to help!
    </p>
  </body>
</html>
