body {
  text-align: center;
}

.submit {
  padding: 5px 15px;
  border-radius: 5px;
}

#cocktailOutputDiv {
  margin: 25px auto;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 2px 2px grey;
  width: 50%;
}

#drinkImage {
  width: 400px;
  height: 400px;
}
